<div class="container w-50 ">

  <%= simple_form_for @accomendation do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :rent, as: :integer %>
    <%= f.submit "Save", class: "btn btn-secondary" %>
  <% end %>

</div>
