<h1>Accomendations#new</h1>
<p>Find me in app/views/accomendations/new.html.erb</p>


<%= simple_form_for @accomendation do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :rent, as: :integer %>
  <%= f.submit "Save" %>
<% end %>

